html {
  background-color: #282c34;
}

.App {
  /* text-align: center; */
  background-color: #282c34;
  color: white;
}

.headshot {
  border-radius: 50%;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.body-content {
  padding: 2rem;
}

.header-name {
  font-weight: 900;
}

ul {
  list-style: none;
}

.social-link {
  color: white;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
  color: white;
}

.exp-html:hover {
  color: #d93f07;
}

.exp-css:hover {
  color: #0a2df2;
}

.exp-javascript:hover {
  color: #f2d70a;
}

.exp-react:hover {
  color: #4ec0f5;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */